name: Electron Build on Tag (Windows)
permissions:
  contents: write
  
on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: windows-latest

    steps:

    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '20'

    - name: Install jq
      run: choco install jq
    - name: Set package.json version to tag name
      run: |
        TAG_NAME=${GITHUB_REF#refs/tags/}
        echo "Current Tag: $TAG_NAME"
        jq ".version=\"$TAG_NAME\"" package.json > tmp.json && mv tmp.json package.json
      shell: bash
    - name: Install dependencies
      run: yarn install

    - name: Build Electron App for Windows
      run: yarn electron-build-win

    - name: Upload Artifacts
      uses: actions/upload-artifact@v2
      with:
        name: electron-installer
        path: dist/*.exe

    - name: Release
      id: create_release
      uses: softprops/action-gh-release@v1

      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: dist/*.exe
